/* board styles */
ul#cards {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
li {
	list-style-type: none;
	margin: 10px;
	background: white;
	border: 1px solid black;
}

/* card styles */
.card img {
	width: 200px;
	height: 200px;
	object-fit: contain;
}

li.facedown {
	background-color: black;
}

li.facedown img {
	opacity: 0;
}

li.facedown.selected img {
	background-color: yellow;
	opacity: 1;
}

li.matched {
	background-color: green;
}
